body {
  margin: 40px;
}

.server-title {
    grid-area: server-title;
}

.response-title {
    grid-area: response-title;
}

.server {
        grid-area: server;
        overflow: auto;
        height: 500px;
    }

    .response {
        grid-area: response;
        overflow: auto;
        height: 500px;
    }

    .header {
        grid-area: header;
        background-image: url("imgs/dante.jpg");
        background-size: 100%;
        height: 300px;
    }

    .header > h1 {
        font-size: 3vw;
        padding: 0;
        float: left;
        clear: both;
        text-shadow: 2px 2px black;
    }

    .footer {
        grid-area: footer;
    }

    .wrapper {
        background-color: #fff;
        color: #444;
    }

  .wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "header"
     "server-title"
     "response-title"
     "server"
     "response"
     "footer"
  }

    .wrapper {

        grid-template-columns: 50% auto;
        grid-template-areas:
        "header   header"
        "server-title response-title"
        "server  response"
        "footer   footer";
    }

.box {
  background-color:	#4CE1F4;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%; 
}


.footer {
    background: linear-gradient(to bottom right, #CAF8EE, #84FF6C);
    color: #444;
}

.footer > span {
    text-align: right;
    float: right;
}

.response,
.response-title {
  background: linear-gradient(to bottom right, #60F6FC, #436CE7);
  color: #444;
}

.server,
.server-title {
background: linear-gradient(to bottom right, 	#D0CAFF, 	#A073FB);
  color: #444;
}
